.setting-item.extra > .setting-item-info {
    opacity: 0.65;
}

a[href="https://www.buymeacoffee.com/chetachi"] > img {
    height: 2.2em;
}

a[href="https://www.buymeacoffee.com/chetachi"]{
    transform: translate(0, 5%);
}

@keyframes fade {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0.9;
    }
    40% {
      opacity: 0.95;
    }
    100% {
      opacity: 1;
    }
}

#highlighterContainer{
    position: fixed;
    width: 158px;
    max-width: 225px;
    max-height: 200px;
    z-index: var(--layer-menu);
    display: inline-block;
    user-select: none;
    overflow: hidden;
}

#highlightColorButtonList{
    min-width: 158px;
    max-width: 225px;
    max-height: 200px;
    padding-left: 0em;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 14px;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    animation: fade 300ms ease-in-out;
    background-color: var(--background-primary);
    box-shadow: 0px 3px 25px rgba( 31, 38, 135, 0.1 );
    border: 1px solid var(--background-modifier-border);
}

#highlightColorButtonList li{
    padding: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    text-align: left;
    list-style-type: none;
    border-bottom: 1px solid var(--background-modifier-border);
}



